<%- include('./includes/navbar')%>
<div class="container"><div>
    <span>Witaj, w systemie nie ticketowym! <br></span>
    <p>Aplikacja słuy do dodawania studentów, nauczycieli oraz przedmiotów!</p>
</div>
<%- include('./includes/footer') %></div>
